[global_config]
  window_state = maximise
  borderless = True
  title_hide_sizetext = True
  title_transmit_bg_color = "#204a87"
  title_use_system_font = False
  title_font = Fira Code 9
[keybindings]
  switch_to_tab_1 = <Primary>1
  switch_to_tab_2 = <Primary>2
  switch_to_tab_3 = <Primary>3
  switch_to_tab_4 = <Primary>4
  switch_to_tab_5 = <Primary>5
  switch_to_tab_6 = <Primary>6
  switch_to_tab_7 = <Primary>7
  switch_to_tab_8 = <Primary>8
  switch_to_tab_9 = <Primary>9
  switch_to_tab_10 = <Primary>0
[profiles]
  [[default]]
    background_darkness = 0.94
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Fira Code 10
    use_system_font = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
